[submodule "docs/sphinx"]
	path = docs/sphinx
	url = https://github.com/NathanielHoefer/ref-sphinx.git
[submodule "docs/linux"]
	path = docs/linux
	url = https://github.com/NathanielHoefer/ref-linux.git
