[submodule "ref-development"]
	path = ref-development
	url = https://github.com/NathanielHoefer/ref-development.git
[submodule "ref-version-control"]
	path = ref-version-control
	url = https://github.com/NathanielHoefer/ref-version-control.git
[submodule "ref-sphinx"]
	path = ref-sphinx
	url = git@github.com:NathanielHoefer/ref-sphinx.git
[submodule "doc/ref-sphinx"]
	path = doc/ref-sphinx
	url = git@github.com:NathanielHoefer/ref-sphinx.git
